In [2]:
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from matplotlib import pyplot as plt

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [9]:
# Reading and vizualization dataset
data = pd.read_csv("income.csv")
data.head()

      Name  Age  Income($)
0      Rob   27      70000
1  Michael   29      90000
2    Mohan   29      61000
3   Ismail   28      60000
4     Kory   42     150000

In [10]:
def calculate_wcss(data):
    wcss = []
    for n in range(2, 21):
        kmeans = KMeans(n_clusters=n)
        kmeans.fit(X=data)
        wcss.append(kmeans.inertia_)

    return wcss

In [15]:
df1 = df.iloc[:, 1:]
df1.head()

   Age  Income($)
0   27      70000
1   29      90000
2   29      61000
3   28      60000
4   42     150000

In [16]:
calculate_wcss(df1)

[3318233941.161905,
 1577046058.883117,
 814746044.2545455,
 296500418.0952381,
 231967084.4619048,
 174800337.7,
 119633613.78333333,
 93500268.41666666,
 68133457.7,
 42000112.333333336,
 21833432.166666668,
 14291766.333333332,
 10125026.166666668,
 8125016.666666667,
 6125012.166666667,
 4125010.166666667,
 2625007.5,
 1500007.0,
 1000002.5]